::ng-deep .p-card {
      margin-bottom: 1rem;
      background: white !important;
      color: rgb(79, 197, 248) !important;

    }

.p-button {
  background: #3b6e80;
  color: rgb(79, 197, 248) ;
  border: none;
}
