<div>
  <!-- section 1 -->
  <div>
    <app-implementation-asset></app-implementation-asset>
  </div>
  <hr/>

  <!-- section 2 -->
  <div>
    <app-amount-asset></app-amount-asset>
  </div>
  <hr/>

  <!-- section 3 -->
  
  <div>
    <app-computer-status></app-computer-status>
  </div>
  <hr>

  <!-- section 4 -->
  <div class="flex flex-wrap my-6 mx-4 gap-4 min-h-[450px]">
    <!-- left -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
      <app-last5changed-computer></app-last5changed-computer>
    </div>
    <!-- right -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
      <app-last5nearexpired></app-last5nearexpired>
    </div>    
  </div>
  <hr/>

  <!-- section 5 -->
  <div class="flex flex-wrap my-6 mx-4 gap-4 min-h-[450px]">
    <!-- left -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
      <app-last5new-assets></app-last5new-assets>
    </div>
    <!-- right -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
      <app-last5expired></app-last5expired>
    </div>    
  </div>

</div> 
  