@use 'tailwindcss' as *;

@font-face {
  font-family: 'primeicons';
  src: url('/assets/fonts/primeicons.eot');
  src: url('/assets/fonts/primeicons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/primeicons.woff2') format('woff2'),
       url('/assets/fonts/primeicons.woff') format('woff'),
       url('/assets/fonts/primeicons.ttf') format('truetype'),
       url('/assets/fonts/primeicons.svg?#primeicons') format('svg');
}

body {
  margin: 0;
  background-color: #edf2f7; /* ฟ้าอ่อนเทา */
  color: #003f5c; /* ฟ้าเข้ม */
}

/* Accordion */
.p-accordion-header {
  background-color: #40c4ff !important; /* ฟ้าน้ำทะเล */
  color: #fff !important;
}

.p-accordion-content {
  background-color: #b3e5fc !important; /* ฟ้าอ่อน */
  color: #003f5c !important;
}

/* Tabs */
.p-tablist-tab-list {
  background: white !important;
  border-color: white !important;
}

.p-tablist-active-bar {
  background: #38bdf8 !important; /* ฟ้าน้ำทะเล */
}

.p-tab {
  border-color: transparent !important;
  color: #003f5c !important;
}

.p-tab-active {
  color: #003f5c !important;
  border-color: #38bdf8 !important; /* ฟ้าน้ำทะเล */
}

/* Select / Dropdown */
.p-select .p-dropdown {
  border: 1px solid #40c4ff !important;
  border-radius: 0.375rem !important;
  background-color: #ffffff !important;
  color: #003f5c !important;
}

.p-select.p-focus .p-dropdown {
  border-color: #ffffff !important;
}

.p-select-label {
  color: #003f5c !important;
}

.p-select-list-container {
  background-color: #e1f5fe !important;
  color: #003f5c !important;
}

.p-select-option {
  background-color: #e1f5fe !important;
  color: #003f5c !important;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background-color: #40c4ff !important;
  color: #fff !important;
}

/* Datepicker */
.p-datepicker {
  border: 1px solid #40c4ff !important;
  border-radius: 0.375rem !important;
  background-color: #b3e5fc !important;
  color: #003f5c !important;
}

/* Card / รูปภาพ */
.card {
  background-color: #e1f5fe !important; /* ฟ้าอ่อน */
  border: 1px solid #40c4ff !important;
  border-radius: 0.5rem !important;
}

.card img, .card p-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ปุ่ม */
.p-button {
  background-color: #3b82f6 !important;
  border-color: #40c4ff !important;
  color: #fff !important;
}

.p-button:hover {
  background-color: #1a6b8d !important;
  border-color: #38bdf8 !important;
  color: #fff !important;
}

/* เส้น hr */
hr {
  color: #003f5c;
  opacity: 0.2;
}
body {
  background-color: #edf2f7;
  color: #1e3a8a;
}
