<div class="p-4">
    <div class="flex justify-between mb-6">
        <div class="text-xl font-semibold">
            {{'dashboard.last5changecomputer.title' | translate}}
        </div>
        <div class="text-lg cursor-pointer">
            {{'dashboard.last5changecomputer.showall' | translate}}
        </div>
    </div>

    <div *ngIf="itemstest && itemstest.length > 0">
        <p-table #dt [value]="itemstest" (sortFunction)="customSort($event)" [customSort]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{'dashboard.last5changecomputer.no' | translate}}</th>
                    <th pSortableColumn="type">
                        {{'dashboard.last5changecomputer.type' | translate}} <p-sortIcon field="type" />
                    </th>
                    <th pSortableColumn="devicename">
                        {{'dashboard.last5changecomputer.devicename' | translate}} <p-sortIcon field="devicename" />
                    </th>
                    <th pSortableColumn="datachanged">
                        {{'dashboard.last5changecomputer.datechanged' | translate}} <p-sortIcon field="datachanged" />
                    </th>
                    <th pSortableColumn="approvedate">
                        {{'dashboard.last5changecomputer.approvedate' | translate}} <p-sortIcon field="approvedate" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ItemsTest let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td> 
                    <td>{{ ItemsTest.type }}</td>
                    <td>{{ ItemsTest.devicename }}</td>
                    <td>{{ ItemsTest.datachanged }}</td>
                    <td>{{ ItemsTest.approvedate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngIf="!itemstest || itemstest.length === 0" class=" text-center p-4 mt-25">
            <i class="pi pi-database" style="font-size: 5rem"></i>
            <div class="mt-2 text-2xl">Data not found</div>
        
    </div>
</div>